@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex {
  display: flex;
}

.dark02 {
    color: #424242;
}

.dark03 {
    color: #727272;
}

.orange-text{
    color: #FF900E;
}

.light-yellow-bg{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn{
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    padding: 20px 25px;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}


/* Navbar Styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.brand{
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* Banner Styles */
.banner-content{
    margin: 0 auto;
    text-align: center;
    max-width: 860px;
    margin-bottom: 50px;
}

.banner-subtitle {
    margin-bottom: 32px;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.banner-image {
    width: 100%;
    margin-bottom: 45px;
}

/* Team Section Styles */
.teams {
    align-items: center;
    gap: 73px;
    max-width: 1318px;
}

.team-pic {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    max-width: 573px;

}

.feature-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 24px;
}

.feature-description {
    margin-bottom: 32px;
}

.dark03 {
    font-weight: 500;
}

/* Features section styles*/

.features-enjoy{
    gap: 140px;
}

#features-margin {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.f-item p{
    margin-bottom: 30px;
}

#experience-batch {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -77px;
}

#big {
    font-size: 4rem;
    font-weight: 700;
}




/* fact related styles */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.fact{
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    align-items: center;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fact-num {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.fact-name {
    margin-top: 5px;
}

.fact-description {
    max-width: 540px;
    margin-bottom: 100px;

}

/* Sponsor Section Styles */
.sponsor-text {
    margin: 50px auto;
    text-align: center;
    max-width: 542px;
}

.sponsor-text h2 {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 24px;

}

.sponsor-logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}

footer {
    max-width: 1440px;
    height: 100px;
    margin: 130px auto;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.footer{
    font-size: 1.25em;
    font-weight: 400;
    text-align: center;
}

/* Responsive Styles for phone*/
@media screen and (max-width: 576px) {
    .navbar, .nav-item, .teams , .features-enjoy {
        flex-direction: column;
    }

.team-pic, .fact-container, .sponsor-logos{
        grid-template-columns: repeat(1,1fr);
}

.fact-container, .sponsor-logos {
    justify-items: center;
    gap: 24px;
}

.feature-image{
    width: 100%;
}

#experience-batch {
    margin: 15px 0px;
}

}

/* Responsive Styles for tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {
.teams, .features-enjoy  {
    flex-direction: column;
}

.team-pic, .fact-container, .sponsor-logos {
        grid-template-columns: repeat(2,1fr);
}

.fact-container, .sponsor-logos {
    justify-items: center;
    gap: 24px;
}

#experience-batch {
    margin: 15px 0px;
}

}
